<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="" th:href="@{/error.css}">
</head>
<body>

<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The url is notog'ri. PLease the urlni tekshiring and don't be mazgi</p>
        <p class="output">Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p>
    <p class="output">Good luck The Mazgi</p>
</div>

</body>
</html>